/* Specify primary font */
@font-face {
  font-family: 'Unicons';
  src: url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-7.woff2') format('woff2');
}

*::-webkit-scrollbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *::-webkit-scrollbar {
   scrollbar-width: none;
  }

  
  /* Body styles */
  body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  /* Wrapper styles */
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
  
  .wrapper > * {
    flex: 2 100%;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
  }
  
  /* Header styles */
  .header {
    position: relative;
    padding: 0;
    margin: 1px;
    width: fit-content;
  }
  
  /* Navigation styles */
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 200px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* background-color: darkblue; */
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    border: solid 3px #201344;
    height: 8vh;
    color: black;
    border-radius: 5px;
  }
  
  .img-logo{
    position: initial;
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: 5px;
    /* right: 0px; */
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1px;
  
  }
  
  
  .nav .nav-links{
    display: flex;
    align-items: center;
    column-gap: 100px;
    list-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 24px;
  }
  
  .header .nav .button{
    color: #fff;
  }
  
  .nav .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  }
  
  *::-webkit-scrollbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *::-webkit-scrollbar {
   scrollbar-width: none;
  }

  .scrollable-container {
    height: 77vh; 
    overflow: auto; 
  }


  .main {
    text-align: justify;
    height: 77vh;
    padding: 0;
    margin: 1px;
    border: solid 3px #201344;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  }
  
  /* Aside style */
  .aside1, .aside2 {
    padding: 0;
    margin: 1px;
    height: 77vh;
    border: solid 3px #201344;
    display: none;
    /* background: #0f0f0f; */
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  }

  .aside.hidden {
    display: none;
  }

  .aside:not(.hidden) {
  display: block;
}
  
  /* Footer styles */
  .footer{
    order: 4;
    text-align: center;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    border: solid 3px #201344;
    /* height: 9vh; */
    padding: 0;
    margin: 1px;
  }
  
  .footer p {
  margin: 10px;
  padding: 10px;
  color: white;
  }
  
  /* HERO SECTION */
  .hero-section {
    display: flex;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    /* background-image: url('/resources/images/IMG/bg14.jpg'); */
    background-size: cover;
    background-position: center;
    background-position: 100%;
  }
  
  .hero-section .hero {
    color: #fff;
    margin: 5px;
  }
  
  .hero h1 {
    /* font-size: 34px; */
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .hero p {
    text-align: left;
    /* font-size: 30px; */
    margin: 10px;
    padding: 10px;
  }
  
  .hero-section .buttons {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    padding: 10px;
  
  }
  
  .hero-section .buttons a {
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: 0.2s ease;
    display: inline-block;
  }
  
  .hero-section .buttons a:not(:last-child) {
    margin-right: 15px;
  }
  
  .buttons .join {
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  }
  
  .hero-section .buttons .learn {
    border: 1px solid #fff;
    border-radius: 0.375rem;
  }
  
  .hero-section .buttons a:hover {
    background: #47b2e4;
  }
  
  .button {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:active {
    transform: scale(0.98);
  }
  
  /* From */
  .form_container {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
    overflow-y: auto;
  }
  
  .home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  
  /* SIGN UP/SIGN IN FORM */
  .signup_form {
    display: none;
    max-height: calc(70vh - 50px);
    overflow-y: auto;
  }
  
  .form_container.active .signup_form {
    display: block;
  }
  
  .form_container.active .login_form {
    display: none;
  }
  
  .form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .form_container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
  }
  
  .input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
  }
  
  .input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
  }
  
  .input_box input:focus {
    border-color: #7d2ae8;
  }
  
  .input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
  }
  
  .input_box i.email,
  .input_box i.password {
    left: 0;
  }
  
  .input_box input:focus ~ i.email,
  .input_box input:focus ~ i.password {
    color: #7d2ae8;
  }
  
  .input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
  }
  
  .option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form_container a {
    color: #7d2ae8;
    font-size: 12px;
  }
  
  .form_container a:hover {
    text-decoration: underline;
  }
  
  .checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
  }
  
  .checkbox input {
    accent-color: #7d2ae8;
  }
  
  .checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
  }
  
  .form_container .button {
    background: #7d2ae8;
    color: #fff;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }
  /* SIGN UP/SIGN IN FORM */
  
  
  /* responsive */
  @media screen and (max-width: 800px) {
    .nav {
      padding: 5px 24px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .nav {
      padding: 15px 50px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 5px 5px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: auto;
      max-width: 280px;
      width: 50%;
      padding-top: 120px;
      row-gap: 30px;
      flex-direction: column;
      background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
      /* background-color: #11101d; */
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .navOpenBtn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  /* Add any specific styles for the About Us page here */
  .about-section {
    /* background-color: #f4f4f4; */
    display: flex;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    /* background-image: url('/resources/images/IMG/bg13.jpg'); */
    background-size: contain;
    background-position: center;
    background-position: 100%;
  }
  
  .about-section .content {
    margin: 0 auto;
  }
  
  .about-section h1 {
    /* font-size: 40px; */
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-section p {
    
    /* font-size: 22px; */
    color: #fff;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
  }
  
  
  /* Responsive styles for Contact Us and Contact Form sections */
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    /* background-image: url('/resources/images/IMG/bg7.jpg'); */
    background-size: cover;
    background-position:center;
    background-position: 50%;
  }
  
  .contact-info,
  .contact-form {
    flex: 0 0 48%; /* Adjust width as needed */
    margin-bottom: 20px;
  }
  
  /* Improved styles for paragraphs and headings */
  .contact-info p {
    /* font-size: 16px; */
    line-height: 1.5;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .contact-info h1,
  .contact-form h1 {
    /* font-size: 24px; */
    margin-bottom: 20px;
    color: #fff;
  }
  
  /* Additional styling for Contact Form */
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 8px;
    color: #fff;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #175d69;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #5e1aaf;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 800px) {
    .contact-info,
    .contact-form {
        flex: 0 0 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .contact-info,
    .contact-form {
        flex: 0 0 100%;
    }
  
    .contact-form label {
        font-size: 14px;
    }
  
    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }
  
    .contact-form button {
        font-size: 16px;
    }
  }
  
  
  /* Responsive */
  @media all and (min-width: 800px){
    .main{
        flex: 4;
    }
  
  
    .main{
        order: 2;
    }
  
    .aside1{
        order: 1;
    }
  
    .aside2{
        order: 2;
    }
  
    .main{
        order: 2;
    }
  
  
    .footer{
        order: 4;
    }
  }
  
  @media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
  
  }