#map,.map {
  position: relative;
  width: 100%;
  height: 100%;
}

/* MAIN CONTROL */

.rotate-control {
  position: absolute;
  z-index: 10000;
  background-color: transparent;
  cursor: pointer;
  right: 0;
  top: 0;
  border-radius: 2px; 
  font-weight: 700;
  text-align: center;
  border: none;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.rotate-control img {
  width: 40px; 
  height: 40px;
}

.rotate-control button:hover {
  background-color: #f0f0f0; 
}

.rotate-animation {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#measurement-controls {
  position: absolute;
  left: 2px;
  z-index: 10000;
}

#measurement-controls button {
  background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  color: white;
  font-weight: 700;
  text-align: center;
  height: 25px; 
  width: 25px; 
  border-radius: 2px; 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#measurement-controls button img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

#measurement-controls button:hover {
  background-color: #2980b9;
}

#measurement-controls button:active {
  background-color: #1f618d;
}

.ol-popup {
  position: absolute;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 140px;
  height: auto;
  background-color: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.overlay-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* MOUSE POSITION */
.mousePosition {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgb(18, 1, 1);
  border-radius: 5px;
  padding: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

/* LOCATION SEARCH */
.search {
  position: absolute;
  z-index: 2000;
  top: 5px;
  left: 50%;
  height: 25px;
  width: 220px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #330c43;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: all 200ms ease;
  transform: translateX(-50%);
  cursor: text;
  outline-width: 0px;
  font-family: Helvetica;
  font-size: 15px;
}

.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  top: 21px;
  background: transparent;
  border-radius: 3px;
  transition: all 200ms ease;
  height: 0px;
}

#inpt_search {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  width: calc(100% - 2px); /* Adjusted width to account for border */
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: #000;
  background: transparent;
  outline-width: 0px;
}

#suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 2px);
  padding-top: 10px;
  margin-top: 0;
  cursor: pointer;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  display: block;
  color: #fff;
  z-index: 3000; /* Increase the z-index */
}


.suggestion {
  padding-top: 10px;
  width: 100%;
  cursor: pointer;
}

.suggestion:hover {
  background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}
/* LOCATION SEARCH */

/* LIVE LOCATION */
#livelocation {
  z-index: 2000;
  position: absolute;
  background-color: transparent;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  right: 8px;
  bottom: 5%;
  border: none;
  padding: 0;
  margin: 0;
}

#livelocation.clicked {
  color: red;
}

#livelocation:hover {
  color: #fff;
}

/* MEASURE RESULT */
#measurementResults {
  margin-top: 5px;
}

#measurementResults p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 5px 0;
}

#lengthResult, #areaResult {
  color: #000;
}

/* CONVERTER */
#conversion-form {
  /* background: linear-gradient(to bottom, #175d69 23%, #330c43 95%); */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 0px;
  margin: auto; /* Center the card on the page */
}

label {
  /* background: linear-gradient(to bottom, #175d69 23%, #330c43 95%); */
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 4px;
  /* margin-bottom: 16px; */
  box-sizing: border-box;
}

#result {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  font-size: 14px;
}

table,
th,
td {
  border: 2px solid #fff;
  color: #fff;
}

th,
td {
  padding: 8px;
  text-align: left;
}

/* th {
  background-color: #f2f2f2;
} */

/* COORDINATE CONVERTER */
.coodctn {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 5px;
    margin: auto; /* Center the card on the page */
  }

h1 {
  text-align: center;
  font-size: large;
  margin: 0;
  color: #fff;
}

p {
  color: #666;
}

#coordinates {
  margin: 5px;
  padding: 5px;
}

label {
  display: block;
  margin: 0px;
  padding: 0;
  /* color: #fff; */
}

textarea {
  background: transparent;
  color: #fff;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
}

.coodbtn {
  display: inline-block;
  width: 50px;
  padding: 5px;
  /* background-color: blue; */
  background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
  color: #fff;
  border: solid 2px;
  border-color: #000;
  cursor: pointer;
  border-radius: 5px;
}

.coodbtn:hover {
  background-color: #45a049;
}

#result1,
#distanceResult {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

/* table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
} */

